<div id="data-footer">
	<div class="row">


        <div id="data-footer-about" class="large-4 medium-12 columns">
          <span class="data-footer-column-title">ПРО НАС</span>
          <p>Внаслідок реалізації проекту буде створено інтернет-платформу для управління знаннями у сфері навчання дорослих . Тобто практики в сфері навчання дорослих в Україні отримають віртуальний майданчик для обміну інформацією. Так само 25 учасників з громадських організацій і освітніх установ візьмуть участь у методичній майстерні, де зможуть поділитись андрагогічними методиками і інструментами. </p>
        </div>

		<div id="data-footer-menu" class="large-3 large-offset-1 medium-12 columns">
			<span  class="data-footer-column-title">МЕНЮ</span>
			<ul>
				<li><%= link_to('НОВИНИ', '#') %></li>
				<li><%= link_to('ПРО НАС', '#') %></li>
				<li><%= link_to('ЩО РОБИМО', '#') %></li>
				<li><%= link_to('ПУБЛІКАЦІЇ', '#') %></li>
				<li><%= link_to('КОНТАКТИ', '#') %></li>
			</ul>
		</div>

		<div id="data-footer-contact" class="large-3 large-offset-1 medium-12 columns">
          <div class="row">
			<span class="columns large-12 data-footer-column-title">КОНТАКТИ</span>
			<div id="phones" class="columns large-12 medium-4">
				<ul>
					<li>+38 <color>(</color>032<color>)</color> 297<color>-</color>66<color>-</color>24</li>
					<li>+38 <color>(</color>032<color>)</color> 297<color>-</color>68<color>-</color>13</li>
				</ul>
			</div>

			<div id="contact-links" class="columns large-12 medium-4">
				<ul>
					<li class="mail"><span class="fi-mail"><%= link_to( image_tag('email.png'), '#' ) %></span><%= link_to('office@zurc.org', 'mailto:office@zurc.org') %></li>
					<li><span class="fi-facebook"><%= link_to('f', '#') %></span><%= link_to('/zurc', 'http://facebook.com/zurc') %></li>
				</ul>
			</div>

			<div id="address" class="columns large-12 medium-4">
				<p>вул. Лисенка, 21 (1ий поверх)<br/>м. Львів, Україна, 79000</p>
			</div>
		  </div>
        </div>




	</div>
</div>

