<div id="home-images">
	<div class="row flex-slider">
		<div class="large-12 columns">
			<!--<ul id="flexiselDemo1">
    			<li><%= link_to( image_tag( "http://placehold.it/370x200&text=[img]", alt: 'alt'), '#', class: 'image-link' ) %></li>
    			<li><%= link_to( image_tag( "http://placehold.it/370x200&text=[img]", alt: 'alt'), '#', class: 'image-link' ) %></li>
    			<li><%= link_to( image_tag( "http://placehold.it/370x200&text=[img]", alt: 'alt'), '#', class: 'image-link' ) %></li>
    			<li><%= link_to( image_tag( "http://placehold.it/370x200&text=[img]", alt: 'alt'), '#', class: 'image-link' ) %></li>
    			<li><%= link_to( image_tag( "http://placehold.it/370x200&text=[img]", alt: 'alt'), '#', class: 'image-link' ) %></li>
    			<li><%= link_to( image_tag( "http://placehold.it/370x200&text=[img]", alt: 'alt'), '#', class: 'image-link' ) %></li>
    			<li><%= link_to( image_tag( "http://placehold.it/370x200&text=[img]", alt: 'alt'), '#', class: 'image-link' ) %></li>
    			<li><%= link_to( image_tag( "http://placehold.it/370x200&text=[img]", alt: 'alt'), '#', class: 'image-link' ) %></li>
    			<li><%= link_to( image_tag( "http://placehold.it/370x200&text=[img]", alt: 'alt'), '#', class: 'image-link' ) %></li>
    			<li><%= link_to( image_tag( "http://placehold.it/370x200&text=[img]", alt: 'alt'), '#', class: 'image-link' ) %></li>
    			<li><%= link_to( image_tag( "http://placehold.it/370x200&text=[img]", alt: 'alt'), '#', class: 'image-link' ) %></li>
    			<li><%= link_to( image_tag( "http://placehold.it/370x200&text=[img]", alt: 'alt'), '#', class: 'image-link' ) %></li>
			</ul>-->

			<div class="image_carousel">
	   	 		<ul id="foo1">
	        		<li><a href="#"><img src="http://placehold.it/140x100&text=[img]" alt="basketball" width="140" height="100" /></a></li>
	        		<li><a href="#"><img src="http://placehold.it/140x100&text=[img]" alt="basketball" width="140" height="100" /></a></li>
	        		<li><a href="#"><img src="http://placehold.it/140x100&text=[img]" alt="basketball" width="140" height="100" /></a></li>
	        		<li><a href="#"><img src="http://placehold.it/140x100&text=[img]" alt="basketball" width="140" height="100" /></a></li>
	        		<li><a href="#"><img src="http://placehold.it/140x100&text=[img]" alt="basketball" width="140" height="100" /></a></li>
	        		<li><a href="#"><img src="http://placehold.it/140x100&text=[img]" alt="basketball" width="140" height="100" /></a></li>
	        		<li><a href="#"><img src="http://placehold.it/140x100&text=[img]" alt="basketball" width="140" height="100" /></a></li>
	        		<li><a href="#"><img src="http://placehold.it/140x100&text=[img]" alt="basketball" width="140" height="100" /></a></li>
	        		<li><a href="#"><img src="http://placehold.it/140x100&text=[img]" alt="basketball" width="140" height="100" /></a></li>
	        		<li><a href="#"><img src="http://placehold.it/140x100&text=[img]" alt="basketball" width="140" height="100" /></a></li>
	        		<li><a href="#"><img src="http://placehold.it/140x100&text=[img]" alt="basketball" width="140" height="100" /></a></li>
	    		</ul>
	    		<div class="clearfix"></div>
			</div>
		</div>
	</div>
</div>