<div id="sponsors">
<div class="row">
	<div class="large-2 columns">
		<%= link_to( image_tag('sponsors/1.png', alt: 'alt', class: ''),'#', class: 'bwWrapper' ) %>
	</div>

	<div class="large-2 columns">
		<%= link_to( image_tag('sponsors/2.png', alt: 'alt', class: ''),'#', class: 'bwWrapper' ) %>
	</div>

	<div class="large-2 columns">
		<%= link_to( image_tag('sponsors/3.png', alt: 'alt', class: ''),'#', class: 'bwWrapper' ) %>
	</div>

	<div class="large-2 columns">
		<%= link_to( image_tag('sponsors/4.png', alt: 'alt', class: ''),'#', class: 'bwWrapper irp' ) %>
		<%= link_to( image_tag('sponsors/5.png', alt: 'alt'),'#', class: 'bwWrapper renessance' ) %>
	</div>

	<div class="large-2 columns">
		<%= link_to( image_tag('sponsors/6.png', alt: 'alt', class: ''),'#', class: 'bwWrapper' ) %>
	</div>

	<div class="large-2 columns">
		<%= link_to( image_tag('sponsors/7.png', alt: 'alt', class: ''),'#', class: 'bwWrapper' ) %>
	</div>
</div>
</div>