<%= render partial: 'partials/refineslide' %>
<!-- Three-up Content Blocks -->
<div id="home-about" class="row">

  <div class="large-3 columns">
    <span class="decorative-letter">З</span>
    <h4>алучення громад</h4>
    <p>З 1998 року пріоритетним напрямком діяльності є розвиток громад загалом, та економічний розвиток громад, зокрема. За цей час ми здобули цінний досвід роботи з ініціативними групами та адаптували кращі міжнародні практики у роботі з місцевими громадами.</p>
  </div>

  <div class="large-3 columns">
    <span class="decorative-letter">У</span>
    <h4>спіх через навчання</h4>
    <p>Успіх роботи в громадах, на нашу думку, перш за все залежить від навчального компоненту. Саме тому ми пропагуємо ідею народної школи та використовуємо різні методи та інструменти навчання дорослих.</p>
  </div>

  <div class="large-3 columns">
    <span class="decorative-letter">Р</span>
    <h4>есурсний центр</h4>
    <p>Ресурсий центр для громадських ініціатив вперше в Україні запрацював на базі нашої організації. Ми надаємо комплексну інформаційну, методичну, грантову, освітню та експертну підтримку.</p>
  </div>

  <div class="large-3 columns">
    <span class="decorative-letter">Ц</span>
    <h4>ільова аудиторія</h4>
    <p>Цільовою аудиторією ЗУРЦу є жителі малих міст та сільських територій України. В рамках наших проектів ми співпрацювали з представниками більш ніж 100 громад з усіх регіонів країни.</p>
  </div>
</div>
</div>

<div id="home-publications" class="row">
  <div class="large-4 columns">
    <h4><%= link_to('Небольшой термальный источник: основные моменты','#') %></h4>
    <%= link_to( image_tag( "http://placehold.it/370x200&text=[img]", alt: 'alt'), '#', class: 'image-link' ) %>
    <p>Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit, dolore aliqua non est magna in labore pig pork biltong. </p>
    <a href="#" class="read-more">Читати далі</a>
  </div>

  <div class="large-4 columns">
    <h4><%= link_to('This is a content section.','#') %></h4>
    <%= link_to( image_tag( "http://placehold.it/370x200&text=[img]", alt: 'alt'), '#', class: 'image-link' ) %>
    <p>Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit, dolore aliqua non est magna in labore pig pork biltong. Eiusmod swine spare ribs reprehenderit culpa. Boudin aliqua adipisicing rump.</p>
    <a href="#" class="read-more">Читати далі</a>
  </div>

  <div class="large-4 columns">
    <h4><%= link_to('This is a content section.','#') %></h4>
    <%= link_to( image_tag( "http://placehold.it/370x200&text=[img]", alt: 'alt'), '#', class: 'image-link' ) %>
    <p>Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit, dolore aliqua non est.</p>
    <a href="#" class="read-more">Читати далі</a>
  </div>
</div>

<%= render partial: 'partials/owl_carousel' %>

<div class="row" id="home-about2">

  <div class="large-3 columns">
    <h4>Народна школа</h4>
    <p>
      <span id="left-separator"></span>
      ЗУРЦ протягом останнього десятиліття популяризує ідею навчання впродовж всього життя. Однією з ефективних форм навчання дорослих є народна школа, започаткована в середині ХІХ століття Миколаєм Фредериком Северином Ґрюндтвіґом.</p>
  </div>

  <div class="large-3 columns">
    <h4>Дослідження</h4>
    <p>
      <span id="left-separator"></span>
      Дослідження є важливою частиною проектної діяльності ЗУРЦ, яка дозволяє детально дослідити потреб цільової групи та виробити механізми їх задоволення.</p>
  </div>

  <div class="large-3 columns">
    <h4>Економічний розвиток громад</h4>
    <p>
      <span id="left-separator"></span>
      ЗУРЦ стимулює розвиток економічних ініціатив на базі громади та проводить відповідні навчання, а також   створює соціальні підприємства, що покращують економічний стан громади.
      <span id="right-separator"></span>
    </p>
  </div>
</div>