<!DOCTYPE html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7 ]> <html class="ie6 no-js" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7 no-js" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8 no-js" lang="en"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie9 no-js" lang="en"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en" class="no-js"> <!--<![endif]-->


<head>
  <meta charset="utf-8" />

  <!-- Uncomment to make IE8 render like IE7 -->
  <!-- <meta http-equiv="X-UA-Compatible" content="IE=7" /> -->

  <!-- Set the viewport width to device width for mobile -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title><%= content_for?(:title) ? yield(:title) : "Untitled" %></title>

  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic&subset=latin,cyrillic-ext,cyrillic,latin-ext' rel='stylesheet' type='text/css'>

  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "/assets/modernizr" %>
  <%= csrf_meta_tags %>

  <!--[if lt IE 9]>
  <script src="/assets/respond.min.js"></script>
  <![endif]-->
</head>

<body class="language-ua">
<div id="wrap">
  <%= render partial: 'partials/header' %>
  <%# render partial: 'partials/menu' %>
  <%= render partial: 'layouts/menu' %>
  <div id="main">
    <%= render partial: 'partials/breadcrumbs' %>
    <%= yield %>
  </div>
</div>

<div id="full-footer">
  <%= render partial: 'partials/sponsors' %>

  <%= render partial: 'partials/data_footer' %>

  <%= render partial: 'partials/footer' %>
</div>

<%= javascript_include_tag "application" %>
</body>
</html>
